
body{
  text-transform: capitalize;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.row-content{
  padding: 50px 0;
  text-transform: capitalize;
}
footer{
  line-height: 40px;
  padding: 20px 10px;
  background-image: linear-gradient(to right,rgb(7, 150, 155),rgb(58, 238, 214),rgb(120, 245, 245));
}
footer a{
  text-decoration: none;
  color: black;
  transition: all ease-in-out 400ms;
}
footer a:hover{
  color: whitesmoke;
}
ul{
  list-style: none;
}

.jumbotron{
  background-image: linear-gradient(to right,rgb(7, 150, 155),rgb(58, 238, 214),rgb(120, 245, 245));
  color: white;
  height: 170px;
}
.navbar-site{
  background-color: rgb(1, 195, 202);
}
.card{
  border-radius: 0;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}
.articleList{
  font-size: 2.1em;
}
.article{
  border:1px solid rgb(187, 185, 185);
  box-shadow: 1px 1px 8px gray;
  border-radius: 0;
}
.article a{
  text-decoration: none;
  color:rgb(0, 0, 0);
}
.article img{
  border-radius: 0;
  width: 100%;
}
.articleTitle{
  font-size: 1.6em;
  font-weight: 600;
}
.frame{
  width: 80%;
  border: 1px gray solid;
  box-shadow: 1px 1px 5px gray;
  text-align: center;
}
.frame > span > i {
  font-size: 3.6em;
}
.newsletters{
  background-image: linear-gradient(to right,rgb(7, 150, 155),rgb(58, 238, 214),rgb(120, 245, 245));
}
.newsletters h6{
  letter-spacing: 4px;
}
.newsletters >  div > form {
  width: 100%;
}
.inputnews{
  color: white;
} 
.socialList{
  list-style: none;
}
.socialList > li{
  display: inline;
}
.socialList > li > a{
  font-size: 1.3em;
  transition: all ease-in-out 300ms;
}
.socialList > li > a:hover{
  font-size: 1.4em;
  color: white;
}
.teamCard{
  border: none;
  overflow: hidden;
  
}
.teamCard img{
  transition: all ease-in-out 400ms;
}
.teamCard img:hover{
  transform: scale(1.1);
} 
.cardProduct{
  border: none;
}
.buyButton{
  padding: 12px 10px;
  background-color: rgb(12, 151, 137);
  border-radius: 5px;
  font-weight: 600;
  
}
.buyButton:hover{
  background-color: rgb(4, 78, 71);
}
.cardProduct a {
  text-decoration: none;
  color: black;
}
.productName{
  font-size: 1.1em;
  font-weight: 600;
}
