
body{
  text-transform: capitalize;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.row-content{
  padding: 50px 0;
  text-transform: capitalize;
}
footer{
  padding: 20px 10px;
  background-image: linear-gradient(to right,rgb(155, 7, 56),rgb(238, 58, 118),rgb(245, 120, 168));
}
ul{
  list-style: none;
}

.jumbotron{
  background-image: linear-gradient(to right,rgb(155, 7, 56),rgb(238, 58, 118),rgb(245, 120, 168));
  color: white;
}
.navbar-site{
  background-color: rgb(202, 1, 51);
}
.card{
  border-radius: 0;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}
.articleList{
  font-size: 2.1em;
}
.article{
  border:1px solid rgb(187, 185, 185);
  box-shadow: 1px 1px 8px gray;
  border-radius: 0;
}
.article a{
  text-decoration: none;
  color:rgb(0, 0, 0);
}
.article img{
  border-radius: 0;
  width: 100%;
}
.articleTitle{
  font-size: 1.6em;
  font-weight: 600;
}