body{
  text-transform: capitalize;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.row-content{
  padding: 50px 0;
  text-transform: capitalize;
}
footer{
  padding: 20px 10px;
  background-image: linear-gradient(to right,rgb(99, 3, 75),rgb(238, 58, 229),rgb(245, 120, 224));
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
}

.jumbotron{
  background-image: linear-gradient(to right,rgb(99, 3, 75),rgb(238, 58, 229),rgb(245, 120, 224));
  color: white;
}
.navbar-site{
  background-color: rgb(202, 1, 125);
}